
body {
	margin: 0;
	background-image: url("banner1.jpg");
	background-repeat: no-repeat;
	opacity: 0.9;
}

#dog {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 400px;
	left: 400px;
	cursor: pointer;
}

.label {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-family: 'Akronim', cursive;
	font-size: 38px;
	color: #F012BE;
}

.food {
	position: absolute;
	width: 100px;
	height: 100px;
	cursor: pointer;
}